USE [master]
GO
/****** Object:  Database [QLSV]    Script Date: 12/18/2025 9:27:55 PM ******/
CREATE DATABASE [QLSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLSV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV]
GO
/****** Object:  Table [dbo].[ChiTiet_DangKy_Diem]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTiet_DangKy_Diem](
	[MASV] [char](8) NOT NULL,
	[MAMH] [char](8) NOT NULL,
	[LAN] [int] NOT NULL,
	[HOCKY] [int] NOT NULL,
	[DIEM] [float] NOT NULL,
 CONSTRAINT [pk_diem] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](8) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [char](8) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[SOTIET_LT] [int] NULL,
	[SOTIET_TH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](8) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[NGAYSINH] [smalldatetime] NULL,
	[PHAI] [char](3) NOT NULL,
	[NOISINH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGHIHOC] [bit] NULL,
	[MALOP] [char](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MONHOC] ADD  DEFAULT ((45)) FOR [SOTIET_LT]
GO
ALTER TABLE [dbo].[MONHOC] ADD  DEFAULT ((0)) FOR [SOTIET_TH]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  DEFAULT ('nam') FOR [PHAI]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  DEFAULT ('') FOR [NOISINH]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  DEFAULT ('') FOR [DIACHI]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  DEFAULT ((0)) FOR [NGHIHOC]
GO
ALTER TABLE [dbo].[ChiTiet_DangKy_Diem]  WITH CHECK ADD FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[ChiTiet_DangKy_Diem]  WITH CHECK ADD FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[ChiTiet_DangKy_Diem]  WITH CHECK ADD CHECK  (([HOCKY]>=(1) AND [HOCKY]<=(8)))
GO
ALTER TABLE [dbo].[ChiTiet_DangKy_Diem]  WITH CHECK ADD CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD CHECK  (([SOTIET_LT]>=(0) AND [SOTIET_LT]<=(120)))
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD CHECK  (([SOTIET_TH]>=(0) AND [SOTIET_TH]<=(120)))
GO
/****** Object:  StoredProcedure [dbo].[sp_ChuaDangKy]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--cau 1
create procedure [dbo].[sp_ChuaDangKy]
as
begin
	select*from SINHVIEN
	where MASV not in (select distinct MASV from ChiTiet_DangKy_Diem)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_HoanTatChuongTrinh]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--cau 2
create procedure [dbo].[sp_HoanTatChuongTrinh] 
as
begin
	declare @mh int
	set @mh =(select count(MAMH) from MONHOC)
	select*from SINHVIEN
	where (select count(distinct MAMH)from ChiTiet_DangKy_Diem where MASV=SINHVIEN.MASV)=@mh
end
GO
/****** Object:  StoredProcedure [dbo].[sp_SiSoNamNu]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_SiSoNamNu]
as
begin
	select*,(select count(MASV) from SINHVIEN where MALOP=LOP.MALOP and PHAI ='nam')as soSvNam,(select count(MASV)from SINHVIEN where MALOP=LOP.MALOP and PHAI='nu')as soSvNu from LOP
end
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaDiem]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_SuaDiem] @sv char(8),@mh char(8),@lan int, @diem float
as
begin
	if(@diem<0 or @diem>10)
	begin
		print N'Giá trị điểm ko hợp lệ'
		return
	end
	else
	begin
		update ChiTiet_DangKy_Diem
		set DIEM=@diem
		where MASV=@sv and MAMH=@mh and LAN=@lan
	end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemNH]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_ThemNH] @ma char(8),@ten char(30),@lt int,@th int
as
begin
	if exists (select *from MONHOC where TENMH=@ten)
	begin
		print N'Trùng tên môn học'
		return
	end
	else
	begin
		insert into MONHOC(MAMH,TENMH,SOTIET_LT,SOTIET_TH)
		values(@ma,@ten,@lt,@th)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaMonHocA]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_XoaMonHocA] @mh char(8)
as
begin
	if exists (select*from ChiTiet_DangKy_Diem where MAMH=@mh)
	begin
		print N'Đã có sinh viên đăng ký, không thể xóa'
	end
	else
	begin
		delete MONHOC where MAMH=@mh
	end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_XuatLop]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--cau 1
create procedure [dbo].[sp_XuatLop] 
as 
begin
	select*from LOP
	where MALOP not in(select MALOP from SINHVIEN)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_XuatSiSo]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_XuatSiSo]
as
begin
	select*,(select count(MASV)from SINHVIEN where MALOP=LOP.MALOP)as SiSo from LOP
end
GO
/****** Object:  StoredProcedure [dbo].[spchuoi]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spchuoi]
as
begin
	print N'Đại Học Công Nghẹ Sài Gòn'
end
GO
/****** Object:  StoredProcedure [dbo].[spchuoi2]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spchuoi2] @khoa char(50),@chuoi char(100) output
as
begin set @chuoi =N'Đại Học Công Nghệ Sài Gòn '+@khoa
end
GO
/****** Object:  StoredProcedure [dbo].[spDiemLop]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spDiemLop] @lop char(8)
as
begin
	select*from SINHVIEN where MALOP = @lop
end
GO
/****** Object:  StoredProcedure [dbo].[spdiemsv]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--1d
create proc [dbo].[spdiemsv]
as
begin
select*from SINHVIEN inner join ChiTiet_DangKy_Diem
on SINHVIEN.MASV=ChiTiet_DangKy_Diem.MASV
where SINHVIEN.MASV='sv1'
end
GO
/****** Object:  StoredProcedure [dbo].[spDsMonHoc]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spDsMonHoc]
as
begin
	select * from MONHOC
	where (select count(distinct masv) from ChiTiet_DangKy_Diem where MAMH=MONHOC.MAMH) >= all(select count(distinct MASV) from ChiTiet_DangKy_Diem group by MAMH)
end
GO
/****** Object:  StoredProcedure [dbo].[spdssv]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spdssv]
as
begin select*from SINHVIEN end
GO
/****** Object:  StoredProcedure [dbo].[spNhapDiem]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spNhapDiem] @sv char(8),@mh char(8),@lan int,@hk int,@diem float
as
begin
	insert into ChiTiet_DangKy_Diem(MASV,MAMH,LAN,HOCKY,DIEM)
	values(@sv,@mh,@lan,@hk,@diem)
end
GO
/****** Object:  StoredProcedure [dbo].[spPTBac2]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--6
CREATE procedure [dbo].[spPTBac2] @a float,@b float,@c float
as
begin
	if @a = 0
	begin
		if @b =0
		begin
			if @c = 0
				print N'PT vô số nghiệm'
			else
				print N'PT vô nghiệm'
		end
		else
		begin
			print N'PT có nghiệm là '+convert(char(100),-@c/@b)
		end
	end
	else
	begin
		declare @s float
		set 
		@s = @b*@b-4*@a*@c
		if @s<0
		begin
			print N'PT vô nghiêm'
		end
		else if @s=0
		begin
			print N'PT có nghiệm kép x1 = x2 = '+convert(char(100),-@b/(2*@a))
		end
		else
		begin
			print N'PT co 2 nghiệm phan biệt'
			print 'x1 = '+convert(char(100),(-@b+sqrt(@s))/(2*@a))
			print 'x2 = '+convert(char(100),(-@b-sqrt(@s))/(2*@a))
		end
	end
end
GO
/****** Object:  StoredProcedure [dbo].[spSoNguyenTo]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--4a
CREATE procedure [dbo].[spSoNguyenTo] @n int
as
begin
	declare @i int
	if @n<2
		return 
	set @i=2
	while @i<=@n
	begin
		declare @j int
		set @j=2
		declare @flag bit
		set @flag=1
		while @j<@i
		begin
			if @i%@j=0
			begin
				set @flag=0
				break
			end
			set @j=@j+1
		end
		if @flag=1
			print @i
		set @i=@i+1
	end
end
GO
/****** Object:  StoredProcedure [dbo].[spSuaMaMH]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spSuaMaMH] @old char(8),@new char(8)
as
begin
	select* into #mh from MONHOC where MAMH = @old
	select* into #diem from ChiTiet_DangKy_Diem where MAMH = @new
	delete ChiTiet_DangKy_Diem where MAMH = @old
	delete MONHOC where MAMH = @old
	update #mh set MAMH=@new
	update #diem set MAMH=@new
	insert into MONHOC(MAMH,TENMH,SOTIET_LT,SOTIET_TH)
	select*from #mh
	insert into ChiTiet_DangKy_Diem(MASV,MAMH,LAN,HOCKY,DIEM)
	select*from #diem
end
GO
/****** Object:  StoredProcedure [dbo].[spSuaMaSV]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spSuaMaSV] @old char(8), @new char(8)
as
begin
	select*into #temp_sv from SINHVIEN where MASV=@old
	select*into #temp_diem from ChiTiet_DangKy_Diem where MASV=@old
	delete ChiTiet_DangKy_Diem where MASV=@old
	delete SINHVIEN where MASV=@old
	update #temp_sv set MASV=@new
	update #temp_diem set MASV=@new
	insert into SINHVIEN(MASV,HO,TEN,NGAYSINH,PHAI,NOISINH,DIACHI,NGHIHOC,MALOP)
	select*from #temp_sv
	insert into ChiTiet_DangKy_Diem(MASV,MAMH,LAN,HOCKY,DIEM)
	select*from #temp_diem
end
GO
/****** Object:  StoredProcedure [dbo].[SpTongDay]    Script Date: 12/18/2025 9:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SpTongDay] @n int
as
begin
	declare @sum int, @i int
	set @sum = 0
	set @i = 0
	while @i<=@n
	begin
		set @sum=@sum+@i
		set @i=@i+1
	end
	print @sum
end
GO
USE [master]
GO
